<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Flask App con Bases de datos</title>
</head>
<body>
    <h2>App contactos - sqlite3</h2>
 
    {% for message in get_flashed_messages() %}
        <div>{{ message }}</div>
    {% endfor %}
 
    <form action="{{url_for('add_contact')}}" method='POST'>
        <div>
            <input type="text" name="fullname" placeholder="Fullname">
        </div>
        <div>
            <input type="text" name="email" placeholder="Email">
        </div>
        <div>
            <input type="text" name="phone" placeholder="Phone">
        </div><br>
        <button> Save </button>
        <br>
    </form>
    <br>
    <table border="2" cellspacing="">
 
        <tr>
            <th>Id</th>
            <th>Fullname</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
        <table border="2" cellspacing="">
            <tr>
              <th>ID</th>
              <th>FULLNAME</th>
              <th>EMAIL</th>
              <th>PHONE</th>
            </tr>
            {% for datos in data %}
            <tr>
              <td>{{datos[0]}}</td>
              <td>{{datos[1]}}</td>
              <td>{{datos[2]}}</td>
              <td>{{datos[3]}}</td>
            </tr>
      
            {% endfor %}
          </table>
    </table>
 
</body>
</html>