<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formularios WTForms</title>
</head>

<body>
    <h1>Manejo de formularios en flask</h1>
    <form method="POST" action=" {{url_for('form')}} " autocomplete="off" novalidate>
        {{form.csrf_token}}
        {{form.username.label}}
        {{form.username}}

        <ul>
            {% for error in form.username.errors %}
            <li style="list-style: none; color: #000;"> {{error}} </li>
            {% endfor %}
        </ul>

        {{form.password.label}}
        {{form.password}}

        <ul>
            {% for error in form.password.errors %}
            <li style="list-style: none; color: #000;"> {{error}} </li>
            {% endfor %}
        </ul>

        {{form.recaptcha}}
        
        <input type="submit" value="Enviar"> </form>
</body>

</html>