<!DOCTYPE html>
<html lang="en">

<head>
    <title>Log In</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="../static/css/form.css" </head>

<body>
    <div class="title">
        <h1>Inicio de Sesion</h1>
    </div>
    <div class="formulario">
        <form action="formRegistro" method="POST" name="formRegistro">
            <label>Usuario:</label> <input type="text" id="username" required minlength="8" />
            <br />
            <br />
            <label>Contraseña:</label>
            <input type="password" id="password" required minlength="8" />
            <br/>
            <br/>
            <input type="submit" value="Enviar" onclick="validateForm()" />
        </form>
        <script src="../static/js/validar.js" async defer></script>
</body>

</html>